HELP.md
.env
.env-compose
.gradle
.github/workflows/run-instruction
.DS_Store
.vaadin-node-tasks.lock
build/
target
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
CrewOpsVaadin/src/main/frontend/generated
CrewOpsVaadin/node_modules
CrewOpsVaadin/.DS_Store
CrewOpsVaadin/src/.DS_Store
CrewOpsVaadin/src/main/.DS_Store
CrewOpsVaadin/src/main/bundles/dev.bundle
CrewOpsVaadin/pnpm-lock.yaml
package-lock.json
package.json
src/main/frontend
src/main/bundles
node_modules
vite.config.ts
vite.generated.ts
tsconfig.json
types.d.ts

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
