.main-drawer {
    position: relative;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='20' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%232B2B2B' stroke-width='23.1' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #0f0f0f; /* fallback if image not loaded */
    color: #B0B0B0;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #B0B0B0;
    box-sizing: border-box;
    overflow: hidden;
}

.main-drawer::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    pointer-events: none;
    z-index: 0;
}


.main-drawer > * {
    position: relative;
    z-index: 1;
}

.main-drawer vaadin-router-link,
.main-drawer a {
    color: #B0B0B0;
    font-weight: 500;
    text-decoration: none;
}

.main-drawer a:hover {
    color: #00adb5;
}

.drawer-footer {
    background-color: #242424;
    text-align: center;
    padding: 0.5rem 1rem;
    border-top: 1px solid #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2rem);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.drawer-footer-text {
    font-size: 12px;
    color: #B0B0B0;
    text-align: center;
}
