:host {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent !important; /* Przezroczyste tło */
}

:host > div {
    height: 100%;
    width: 100%;
}

.fc {
    background-color: transparent !important; /* Przezroczyste tło kalendarza */
    height: 100% !important;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid var(--lumo-contrast-10pct);
}

/* Jeśli chcesz, aby nagłówki dni również były przezroczyste */
.fc .fc-scrollgrid {
    background-color: transparent !important;
}

.fc-toolbar-title {
    font-size: var(--lumo-font-size-l) !important;
    font-weight: 600;
}

.fc-button-primary {
    background-color: var(--lumo-primary-color) !important;
    border-color: var(--lumo-primary-color) !important;
    text-transform: capitalize;
}

.fc-button-primary:disabled {
    background-color: var(--lumo-contrast-30pct) !important;
    border-color: var(--lumo-contrast-30pct) !important;
}

/* Styl dla przeciąganych eventów (tzw. mirror) */
.fc-event-dragging {
    opacity: 0.7;
    cursor: grabbing;
}

.vaadin-full-calendar {
    display: block;
    height: 600px;
    width: 100%;
}

.div[draggable="true"] {
    z-index: 10000;
    position: relative;
}