.flag-combo {
    width: auto;
    min-width: 4em;
    max-width: 4em;
    text-align: center;
}

.flag-combo::part(text-field) {
    border-radius: 999px;
    padding: 0.2em 0.2em;
    text-align: center;
    justify-content: center;
    min-width: 3em;
    max-width: 3em;
    background-color: #1e1e1e;
    color: #f0f0f0;
}

.flag-combo::part(input-field) {
    border-radius: 999px;
}

vaadin-combo-box-overlay[theme~="language-combo"]::part(content) {
    background-color: #2a2a2a;
}

vaadin-combo-box-item::part(content) {
    background-color: #2a2a2a;
    color: #f0f0f0;
}

vaadin-combo-box-item:hover::part(content) {
    background-color: #3a3a3a;
}
