.login-form-layout {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Styl kontenera inputa (obramowanie, tło) */
.login-input::part(input-field) {
    background-color: #1e1e1e;
    border: 1px solid #B0B0B0;
    border-radius: 4px;
    color: #B0B0B0;
}

/* Zapobiega zmianie koloru tła podczas focus */
.login-input::part(input-field):focus-within {
    background-color: #1e1e1e;
    border: 1px solid #00adb5;
}

/* Styl wpisywanego tekstu */
.login-input::part(input) {
    color: #B0B0B0;
    caret-color: #B0B0B0;
}

/* Styl labela ("Username", "Password") */
.login-input::part(label) {
    color: #B0B0B0;
}

/* Styl przycisku pokaż/ukryj hasło */
::part(reveal-button) {
    color: #B0B0B0;
}

/* Dla starszych wersji Vaadin */
.login-input vaadin-password-field-button {
    color: #B0B0B0;
}
